{% extends 'public.html' %}
{% block public_title %}我的博客|注册{% endblock %}
{% block register_active %}active{% endblock %}
{% block public %}
    <div>
        {% if request.session.user_name == None %}
            <h3 style="text-align: center">注册</h3>
            <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="col-sm-2 col-sm-offset-2 control-label">用户名<span style="color: red">*</span>：</label>
                    <div class="col-sm-4 has-feedback">
                        <input type="text" name="username" onblur="username_val()" class="form-control" id="username"
                               placeholder="请输入用户名"
                               required>
                        <small id="usernameHelp" class="form-text text-muted"></small>
                        <span id="usernameState" class=""></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password1" class="col-sm-2 col-sm-offset-2 control-label">密码<span style="color: red">*</span>：</label>
                    <div class="col-sm-4">
                        <input type="password" name="password1" class="form-control" id="password1" placeholder="请输入密码"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2" class="col-sm-2 col-sm-offset-2 control-label">再次输入密码<span
                            style="color: red">*</span>：</label>
                    <div class="col-sm-4">
                        <input type="password" name="password2" onblur="password_val()" class="form-control"
                               id="password2"
                               placeholder="请再次输入密码" required>
                        <small id="passwordHelp" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tel" class="col-sm-2 col-sm-offset-2 control-label">手机号<span style="color: red">*</span>：</label>
                    <div class="col-sm-4 has-feedback">
                        <input type="tel" name="tel" class="form-control" id="tel" placeholder="请输入手机号"
                               required>
                        <span id="telState" class=""></span>
                        <small id="telHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="col-sm-2" style="height: 28px;margin-top: 0.5em;">
                        <a href="javascript:void(0)" onmousedown="get_code()"
                           style="text-decoration:none"
                           id="get-code">
                            获取验证码</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="code" class="col-sm-2 col-sm-offset-2 control-label">验证码<span style="color: red">*</span>：</label>
                    <div class="col-sm-4 has-feedback">
                        <input type="text" onblur="put_code()" name="code" class="form-control" id="code"
                               placeholder="请输入验证码"
                               required>
                        <span id="codeState" class=""></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">邮箱地址<span
                            style="color: red">*</span>：</label>
                    <div class="col-sm-4">
                        <input type="email" name="email" class="form-control" id="inputPassword3" placeholder="请输入邮箱地址"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 col-sm-offset-2 control-label">昵称<span
                            style="color: red">*</span>：</label>
                    <div class="col-sm-4">
                        <input type="text" name="nickname" class="form-control" id="inputPassword3" placeholder="请输入昵称"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile" class="col-sm-2 col-sm-offset-2 control-label">头像<span
                            style="color: red">*</span>：</label>
                    <div class="col-sm-4">
                        <input type="file" id="exampleInputFile" name="headportrait" accept="image/*" required>
                    </div>
                </div>
                <p class="text-danger public-center"> {{ message }}</p>
                <div class="form-group public-center">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" id="btn" class="btn btn-default">注册</button>
                    </div>
                </div>
            </form>
            </div>
            <script>
                var user_val = '{% url 'user_val' %}'
                var code_send = '{% url 'code_send' %}'
                var code_val = '{% url 'code_val' %}'
            </script>
            <script type="text/javascript" src="/static/js/register.js"></script>
        {% else %}
            <div class="public-center">当前用户已登录请前往博客页面</div>
        {% endif %}

{% endblock %}